$color_1: #0d6efd;
$color_2: white;
$background-color_1: #007BFF;
$background-color_2: #f8f9fa;

body {
	background-color: $background-color_1 !important;
}
.table-container {
	background: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.table {
	border-radius: 10px;
	overflow: hidden;
    border: 2px solid;

    th, td{
        border: 2px solid;
    }


}

.table td.actions-cell {
  vertical-align: middle;     /* centra verticalmente el contenido dentro del td */
  text-align: center;         /* centra horizontalmente */
}

.table td.actions-cell > div {
  display: inline-flex;        /* mantiene los botones juntos y centrados */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;                 /* espacio entre botones */
  flex-wrap: wrap;             /* para pantallas pequeñas */
}

h1 {
	color: $color_1;
	font-weight: bold;
	text-align: center;
}
.btn {
	border-radius: 8px;
	&:hover {
		transform: scale(1.05);
		transition: all 0.2s ease-in-out;
	}
}
.edit-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	h1 {
		color: $color_2;
		font-weight: bold;
		text-align: center;
	}
}
.form-box {
	background-color: $background-color_2;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	width: 60%;
	max-width: 700px;
	margin: auto;
}
