// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'register';
@import 'login';
@import 'welcome';
@import 'dataCompany';
@import 'formEmail';
