.formEmail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #4690da; // color de fondo
    padding-top: 80px;   /* espacio debajo del navbar */
    padding-bottom: 80px;

}

.formEmail-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 1000px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.formEmail-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: #111827;
}